
.toolbar .wrapper {
    display: flex;
    justify-content: flex-end;
    .item {
        flex: 0 0 auto;
    }
    .login {
        display: none;
    }
}

.header {
    .logo-header {
        .search-container {
            display: none;
        }
    }
    .menu {
        display: none;
    }
    
    .mobile-menu {
        display: flex;
        .menu-item {
            flex: 0 0 auto;
        }
        .mobile-search {
            align-self: end;
        }
    }
}

.mypages-bar {
    display: none;
}


.content {
    .flex-container {
        display: flex;
        .sidebar {
            display: none;
        }
        .main {
            flex: 1 1 auto;
        }
    }
    .row {
        display: grid;
        justify-content: space-around;
        grid-template-columns: 100%;
        grid-gap: 0 0;
    }
    .current {
        .wrapper {
            display: flex;
            flex-wrap: nowrap;
            div {
                flex: 0 1 auto; 
            }
            div.hr {
                flex: 1 1 auto; 
                align-self: center;
            }
        }
    }
}

@media (min-width: 640px) {
    .content .row {
        grid-template-columns: 48% 48%;
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .toolbar .wrapper .login {
        display: inline-block;
    }
    .header {
        .logo-header {
            display: flex;
            .logo-container {
                flex: 0 0 auto;
            }
            .search-container {
                display: block;
                flex: 0 0 auto;
                margin-left: auto;
                align-self: center;
            }
        }
        .menu {
            display: flex;
            .menu-item {
                flex: 0 0 auto;
            }
        }
        .mobile-menu {
            display: none;
        }
    }
    .content {
        .flex-container {
            .sidebar {
                display: block;
                flex: 0 1 21%;
                align-self: start;
            }
        }
        .row {
            grid-template-columns: 31% 31% 31%;
            // column-gap: 8px;
        }
    }
    .mypages-bar {
        display: block;
    }
}

@media (min-width: 1050px) {
    .content .row {
        grid-template-columns: 310px 310px 310px;
        justify-content: center;
        column-gap: 20px;
    }
}