html {
    font: 400 14px Open Sans,Arial,Helvetica,sans-serif;
    color: #111;
}
h1 {
    font-size: 2.5rem;
    margin: 0;
}
h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}
h3 {
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;
}
h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}
.toolbar {
    background-color: black;
    color: white;
    padding: 0 16px;
    .wrapper {
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
        .item {
            padding: 8px;
        }
    }
}
.header {
    background-image: url(../images/logo-background.svg), url(../images/header-background.jpg);
    background-position-x: -100px, 50%;
    background-position-y: -70px, 50%;
    background-size: cover;
    .logo-header {
        height: 97px;
        max-width: 1020px;
        margin: 0 16px;
        .logo-container {
            padding: 16px;
            padding-left: 8px;
            img {
                width: 120px;
            }
        }
        .search-container {
            input {
                padding: 12px 16px;
                border: 0;
            }
            input[type=text] {
                background-image: url(../images/content-search-icon.svg);
                background-repeat: no-repeat;
                background-position: left 10px center;
                padding-left: 50px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                margin-right: 0;
                opacity: 0.5;
            }
            input[type=button] {
                color: white;
                background-color: #005293;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                margin-left: -3px;
            }
        }
    }
    .menu {
        height: 40px;
        max-width: 1020px;
        margin: 0 auto;
        .menu-item {
            background-color: #eee;
            margin: 0 8px;
            padding: 0 12px;
            text-align: center;
            line-height: 40px;
        }
        .menu-item.mypages {
            margin-left: auto;
            background-color: #005293;
            font-weight: 600;
            color: white;
        }
    }
    .mobile-menu {
        background-color: #005293;
        color: white;
        height: 45px;
        margin: 0 auto;
        font-size: 1.2rem;
            font-weight: 700;
        .menu-item {
            padding: 10px;
            align-self: center;
        }
        .hamburger {
            background-image: url(../images/main-menu-mobile-icon.svg);
            background-repeat: no-repeat;
            background-position: left 10px center;
            padding: 10px 0 10px 45px;
        }
        .mobile-search {
            margin-left: auto;
            .search {
                background-image: url(../images/search-mobile-icon.svg);
                background-repeat: no-repeat;
                background-position: left 10px center;
                padding: 10px 10px 10px 45px;
            }
        }
    }
}
.header.mypages {
    background-image: url(../images/logo-background.svg), url(../images/header-background-flipped.jpg);
    background-position-x: -100px, 50%;
    background-position-y: -70px, 50%;
    background-size: cover;
}
.mypages-bar {
    background-color: #005293;
    height: 8px;
}
.content {
    max-width: 1020px;
    margin: 0 auto;
    height: 100%;
    padding: 8px;
    .row {
        .block {
            color: #005293;
            background-color: #e7eef5;
            margin: 8px 0;
            .container {
                padding: 16px;
                ul {
                    color: black;
                    list-style: none;
                    margin-left: -20px;
                    li {
                        background: url(../images/icon-link.svg) no-repeat left center;
                        padding: 0 0 0 28px;
                        margin: 8px 0 8px -28px;
                    }
                }
            }
        }
    }
    .breadcrumbs, .sidebar, .main {
        margin: 8px;
    }
    .sidebar {
        background: #eee;
        padding: 20px;
        padding-right: 0;
        ul {
            margin: 0px;
            padding-left: 4px;
            list-style: none;
            li {
                padding: 4px;
                hr {
                    display: inline-block;
                    width: 30px;
                    vertical-align: middle;
                }
            }
            li.current {
                font-weight: 700;
                font-style: italic;
            }
        }
    }
    .main {
        .stage {
            height: 100px;
            background-color: lightpink;
        }
        .chart {
            margin: 20px 0;
            height: 400px;
            background-color: #eee;
        }
        .pension {
            margin: 20px 0;
            height: 250px;
            background-color: #e7eef5;
        }
        button.apply {
            margin: 20px 0;
            border: 0;
            height: 40px;
            width: 100%;
            border-radius: 20px;
            background-color: #005293;
            color: white;
            font-weight: 600;
        }
        .current {
            margin: 20px 0;
            .wrapper {
                color: #7ba795;
                div.hr {
                    padding: 0 8px;
                    hr {
                        border: 1px solid #7ba795;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .header {
        height: 155px;
        .logo-header {
            height: 115px;
            .logo-container {
                img {
                    width: unset;
                }
            }
        }
    }
}

@media (min-width: 1050px) {
    .header .logo-header {
            margin: 0 auto;
    }
    .menu {
        height: 40px;
    }
    .toolbar .wrapper {
        width: 1000px;
        margin: 0 auto;
    }
}